<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What Is FrostForecast?</h2>
                <hr class="light">
                <p class="text-faded">Frost Forecast proposes a precision agriculture system that allows to visualize the climatic state of a crop providing a detailed vision of the state of the crops.</p>
                <a href="http://dev.dashboard.frostforecast.cl:3000/" class="btn btn-default btn-xl">Go to Dashboard</a>
            </div>
        </div>
    </div>
</section>
