<section id="footer" class="bg-primary">
    <div class="container">
        <!--<div class="no-gutter">-->
            <div class="row">
                <div class="col-lg-6 col-md-6 text-left">
                    <h2 class="section-heading">Contact</h2>
                    <hr style="margin-left: 0;" class="light">
                    <p>info@inria.cl</p>
                </div>
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-3 col-md-3">
                    <br>
                    <img src="img/imagotipo-regular-white.png" class="img-responsive" alt>
                </div>
            </div>
        <!--</div>-->
    </div>
</section>
