<section class="no-padding" id="partners">
    <div class="container-fluid">
        <div class="no-gutter">
            <div class="row text-center">
                <h2 class="section-heading">Partners</h2>
                <hr class="primary">
            </div>
            <div class="row bg-primary">
                <div class="row">
                    <div class="col-lg-2 col-sm-2"></div>
                    <div class="col-lg-3 col-sm-3 col-xs-8" style="padding: 50px;">
                        <a href="https://inria.cl/es" class="portfolio-box">
                            <img src="img/partners/logo-inria.png" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Inria Chile
                                    </div>
                                    <!--<div class="project-name">
                                        Project Name
                                    </div>-->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-xs-8" style="padding: 50px;">
                        <a href="https://team.inria.fr/eva/" class="portfolio-box">
                            <img src="img/partners/logo-eva.png" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        EVA (Inria)
                                    </div>
                                    <!--<div class="project-name">
                                        Project Name
                                    </div>-->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-8" style="padding: 50px;">
                        <a href="https://www.corfo.cl/sites/cpp/homecorfo" class="portfolio-box">
                            <img src="img/partners/logo-corfo.png" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Corfo
                                    </div>
                                    <!--<div class="project-name">
                                        Project Name
                                    </div>-->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2"></div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-3"></div>
                    <div class="col-lg-3 col-sm-3 col-xs-8" style="padding: 40px;">
                        <a href="http://agroprime.com/en/" class="portfolio-box">
                            <img src="img/partners/logo-agroprime.png" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Agroprime
                                    </div>
                                    <!--<div class="project-name">
                                        Project Name
                                    </div>-->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-3 col-xs-8" style="padding: 40px;">
                        <a href="https://www.cii.conchaytoro.com/home/" class="portfolio-box">
                            <img src="img/partners/logo-cii.png" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Concha y Toro
                                    </div>
                                    <!--<div class="project-name">
                                        Project Name
                                    </div>-->
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>
