<section id="team">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Inria</h2>
        <hr class="primary">
    </div>
    <div class="container text-center">
        <p class="main">
            <strong>Inria</strong>
            is the French national research institute for digital science and technology.
            As a technological institute, Inria supports the diversity of innovation pathways:
            from open source software publishing to the creation of technological startups (Deeptech).
        </p>
        <p class="main">
            <strong>Frost</strong>Forecast
            is a collaboration between <strong>Inria Chile</strong>
            and the <strong>Inria-Eva team</strong>.
        </p>
        <div class="col-lg-6 col-xs-12 text-center">
            <h3>Inria Chile</h3>
            <p>
                Created in 2012, Inria Chile is the first Inria center outside France.
                It is a driving force for technological innovation and knowledge transfer,
                collaborating effectively with companies, universities, public institutions,
                and startups to meet the challenges of the digital revolution.
                It is also a means to promote the R&D activities of companies and startups
                in Chile and Latin America.
            </p>
        </div>
        <div class="col-lg-6 col-xs-12 text-center">
            <h3>Eva</h3>
            <p>
                Inria-EVA is a leading research team in low-power wireless communications.
                The team pushes the limits of low-power wireless mesh networking
                by applying them to critical applications such as industrial control loops,
                with harsh reliability, scalability, security and energy constraints.
            </p>
        </div>
    </div>
</section>