<section id="what-for">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What Is It For?</h2>
                <hr class="primary">
                <p>
                    Using multiple data sources as inputs to a machine learning engine, it will deliver early frost warnings so farmers can focus their control effort.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <!-- <i class="fa fa-4x fa-seedling"></i> -->
                    <h3>Improve decision-making for frost prevention</h3>
                    <p class="text-muted">It helps agricultural producers make informed decisions on active frost control.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Get early alerts on frosts</h3>
                    <p class="text-muted">A predictive model uses data from different sources to generate early frost alerts.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Know what’s happening in the statee</h3>
                    <p class="text-muted">Sensors are installed in different sectors of the state, providing climatic information about each one of them.</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your websites with love these days!</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
