<section class="bg-primary" id="what-for">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What Is <strong>Frost</strong> Forecast?</h2>
                <hr class="light">
                <p>
                    <strong>Frost</strong>Forecast is a tool that provides frost prediction alerts for farmers and producers.
                    Using multiple data sources as inputs to a frost prediction model, it will deliver early frost warnings so farmers can focus their control effort.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <!--"wow" class for animated icons (but it has a conflict with line 5 in _base.scss)--->
                    <i class="far fa-4x fa-snowflake bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Get early alerts on frosts events</h3>
                    <p class="text-faded">A machine learning model uses data from different sources to predict frost events and generate early alerts.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-seedling bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Improve decision-making for frost prevention</h3>
                    <p class="text-faded">It helps agricultural producers make informed decisions on active frost control.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-temperature-low bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Know what’s happening in the state</h3>
                    <p class="text-faded">Sensors are installed in different sectors of the state, providing climatic information about each one of them.</p>
                </div>
            </div>
        </div>
    </div>
</section>
